node_modules/
out/
dist/
release/
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
coverage/
.cache/
.eslintcache
playwright-report/
test-results/
*.tsbuildinfo
.env
.env.local
